body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.MuiContainer-root.MuiContainer-maxWidthLg > * {
  padding: 1.2rem;
}

.PrivateTabIndicator-colorSecondary-5 {
  background-color: #f45b69;
}
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  margin: 1.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5)
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 250px;
  height: 200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}